* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.first {
  background-color: #f2f2f2;
  text-align: center;
  padding: 20px;
}
.first img {
  display: block;
  margin: auto;
  max-width: 50%;
  height: auto;
  border-radius: 20px;
}

.first h1 {
  margin-top: 20px;
  font-size: 36px;
}

.first h3 {
  margin-top: 10px;
  font-size: 24px;
}
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #333;
}

.about ol {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.about li {
  margin: 0 10px;
}

.about a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.about a:hover {
  text-decoration: underline;
}

/* Style the table */
table {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  font-size: 16px;
  text-align: center;
  background: #12c2e9;
  background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9); 
  background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); 
}

caption {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color:black ;
}

th {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

td {
  border: 1px solid #ccc;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr:hover {
  background-color: #ddd;
}


caption{
    font-size:x-large;
    font-weight: bold;
    color: white;
}
input[type=text], select, textarea {
    width: 100%; 
    padding: 12px;  
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  }
  input[type=email], select, textarea {
    width: 100%; 
    padding: 12px;  
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  }
  input[type=password], select, textarea {
    width: 100%; 
    padding: 12px;  
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  }
  input[type=tel], select, textarea {
    width: 100%; 
    padding: 12px;  
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  }

  input[type=submit] {
    background-color: orangered;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=radio] {
    background-color: orangered;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=submit]:hover {
    background-color: orangered;
  }

  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }